<!DOCTYPE html>
<html>
<head></head>
<body>
	name: <%= @student.name %><br />
	tagline: <%= @student.tagline %><br />
	bio: <%= @student.bio %><br />
	image: <%= @student.photo %><br />

</body>
</html>